<form>

    <label for="firstName">First Name</label>
    <input type="text" id="firstName"
     cam-variable-name="first_name" cam-variable-type="String">

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName"
     cam-variable-name="last_name" cam-variable-type="String">

    <label for="address">Address</label>
    <input type="text" id="customerAddress"
     cam-variable-name="address" cam-variable-type="String">

    <select cam-variable-name="selected_car" 
            cam-variable-type="String" 
            cam-choices="Available_Cars">
    </select>


     <p class="input-group">

        <input type="text"
             cam-variable-name="CONTRACT_START_DATE"
             cam-variable-type="Date"
             class="form-control"
             datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
             is-open="dateFieldOpened" />
      
        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>

      <p class="input-group">

        <input type="text"
             cam-variable-name="CONTRACT_END_DATE"
             cam-variable-type="Date"
             class="form-control"
             datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
             is-open="dateFieldOpened2" />
      
        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open2($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>

      <label for="insurance">Insurance</label>
      <input type="text" id="insurance"
       cam-variable-name="insurance" cam-variable-type="String">


       <script cam-script type="text/form-script">
        $scope.open = function($event) {
          $event.preventDefault();
          $event.stopPropagation();
      
          $scope.dateFieldOpened = true;
        };

        $scope.open2 = function($event) {
            $event.preventDefault();
            $event.stopPropagation();
        
            $scope.dateFieldOpened2 = true;
          };
      </script>

</form>